.cache
node_modules
public
static
README.md
.husky
.gitignore
.prettier.json
.eslintrc.json
.prettierignore
.prettierrc.json
package.json
package-lock.json
gatsby-browser.js
gatsby-config.js
postcss.config.js
tailwind.config.js